// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors
$primary-color-1: #0043BF;
$primary-color-2: #002873;

$secondary-color-1: #E3E9F7;
$secondary-color-2: #C7CCD9;

$color-success: #006600;
$color-warning: #F8B300;
$color-danger: #AA0000;
$color-default: #F5F5F5;

$font-color: #303030;